#### Given a base 10 number, print it in base 2,8,16.

In [86]:
def print_base_x(num, x):
    basex = ""
    while num > 0:
        basex = str(num % x) + basex
        num = int(num/x)
    print("base", x, ":", basex)

def convert_base_16(n):
    if n >= 10:
        return chr(ord('A') + (n-10))
    return str(n)

def print_base_16(num):
    base16 = ""
    while num > 0:
        base16 = convert_base_16(num % 16) + base16
        num = int(num/16)
    print("base 16 :", base16)

def print_number_in_all_bases(num):
    print("converting",num,"to other bases")
    print_base_x(num,2)
    print_base_x(num,8)
    print_base_16(num)

In [208]:
print_number_in_all_bases(10)
print_number_in_all_bases(17)
print_number_in_all_bases(100)
print_number_in_all_bases(254)

converting 10 to other bases
base 2 : 1010
base 8 : 12
base 16 : A
converting 17 to other bases
base 2 : 10001
base 8 : 21
base 16 : 11
converting 100 to other bases
base 2 : 1100100
base 8 : 144
base 16 : 64
converting 254 to other bases
base 2 : 11111110
base 8 : 376
base 16 : FE

#### import cast, print the head

In [209]:
import pandas as pd
cast = pd.read_csv('data/cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

#### How many movies have the title "Hamlet"?

In [211]:
hamlet_movies = cast[cast["title"] == "Hamlet"]
h2 = hamlet_movies.drop_duplicates('year', keep='first').reindex()
print("there is",h2.shape[0],"movies named \"Hamlet\"")

there is 17 movies named "Hamlet"

#### List all the "Treasure Island" movies from earliest to most recent.

In [216]:
TI = cast[cast["title"] == "Treasure Island"].drop_duplicates('year', keep='first').reindex()
TI = TI.drop(["name", "type", "character", "n"], axis = 1)
TI.sort_values("year").reset_index(0, drop=True)

             title  year
0  Treasure Island  1918
1  Treasure Island  1920
2  Treasure Island  1934
3  Treasure Island  1950
4  Treasure Island  1972
5  Treasure Island  1973
6  Treasure Island  1985
7  Treasure Island  1999

#### How many roles were credited in the silent 1921 version of Hamlet?

In [206]:
H1 = hamlet_movies.loc[cast["year"] == 1921]
print("the number of roles that were credited in the Hamlet 1921 is", H1.shape[0])

the number of roles that were credited in the Hamlet 1921 is 9

#### Use groupby() to plot the number of "Hamlet" films made each decade

In [210]:
h2 = hamlet_movies.groupby("year").sum().reset_index(0, drop=False)

#h2["year"]
h2["Interval"] = (10 * (h2["year"] // 10)).astype(str) + 's'
h2['Hamlet movie\'s per decade'] = 1
h2 = h2.drop(['n', "year"], axis=1).groupby("Interval").sum()
h2

          Hamlet movie's per decade
Interval
1910s                             3
1920s                             1
1940s                             1
1950s                             1
1960s                             2
1970s                             2
1980s                             1
1990s                             2
2000s                             2
2010s                             2

#### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [152]:
c50s = cast.loc[cast["year"] < 1960].loc[cast["year"] >= 1950]
c50sn1 = c50s.loc[cast["n"] == 1]
c50sn1actor = c50sn1.loc[cast["type"] == "actor"]
c50sn1actress = c50sn1.loc[cast["type"] == "actress"]
# c50s = cast[df2]
# c50s
print("number of leading roles (n=1) for actress are", c50sn1actress.shape[0])
print("number of leading roles (n=1) for actors are", c50sn1actor.shape[0])

number of leading roles (n=1) for actress are 2813
number of leading roles (n=1) for actors are 6388

#### List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's

In [205]:
cfrom90s = cast.loc[cast["year"] >= 1990].loc[cast["n"] == 1]
cfrom90s = cfrom90s.drop(['n', "year"], axis=1)
cfrom90s["roles"] = 1
cfrom90s = cfrom90s.groupby(["name", "type"]).sum().reset_index(0, drop=False).reset_index(0, drop=False)
cfrom90s.sort_values("roles", ascending=False).reset_index(0, drop=True).head(10)

    type                name  roles
0  actor            Mohanlal    126
1  actor           Mammootty    118
2  actor        Akshay Kumar     87
3  actor             Jayaram     76
4  actor            Andy Lau     72
5  actor          Ajay Devgn     69
6  actor    Amitabh Bachchan     68
7  actor        Eric Roberts     68
8  actor  Nagarjuna Akkineni     60
9  actor               Dilip     59

#### List, in order by year, each of the films in which Frank Oz has played more than 1 role

In [194]:
foz = cast.loc[cast["name"] == "Frank Oz"].sort_values("year")
foz["roles"] = 1
foz = foz.drop(['n', "type"], axis=1).groupby(["title", "year"]).agg({'roles':'sum'})
foz = foz.sort_values("year").loc[foz["roles"] > 1].reset_index(0, drop=False).reset_index(0, drop=False)
foz

   year                                     title  roles
0  1979                          The Muppet Movie      8
1  1981                    The Great Muppet Caper      6
2  1981            An American Werewolf in London      2
3  1982                          The Dark Crystal      2
4  1984                The Muppets Take Manhattan      7
5  1985  Sesame Street Presents: Follow that Bird      3
6  1992                The Muppet Christmas Carol      7
7  1996                    Muppet Treasure Island      4
8  1999                        Muppets from Space      4
9  1999      The Adventures of Elmo in Grouchland      3